#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = athan-app

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	
	# Install executable
	install -d debian/athan-app/usr/bin
	install -m 755 athan-ui.py debian/athan-app/usr/bin/athan-app
	
	# Install desktop file
	install -d debian/athan-app/usr/share/applications
	install -m 644 data/athan-app.desktop debian/athan-app/usr/share/applications/
	
	# Install autostart
	install -d debian/athan-app/etc/xdg/autostart
	install -m 644 data/athan-app-autostart.desktop debian/athan-app/etc/xdg/autostart/
	
	# Install icon
	install -d debian/athan-app/usr/share/icons/hicolor/scalable/apps
	install -m 644 data/icons/athan-app.svg debian/athan-app/usr/share/icons/hicolor/scalable/apps/

override_dh_auto_test:
	# Skip tests during build
